#navbar{
    padding: 0;
    background-color: black;
}
header{
    background-color: black;
}
#next{
    display: flex;
    justify-content: flex-end;
    background-color: black;
}
.gmail{
    text-decoration: none;
    color: white;
    margin-right: 20px;
    font-size: 20px;
}

#img{
    height: 20px;
    width: 20px;
}

#masterMain{
    margin-top: 45px;
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
}

#masterBody{
    background-color: black;
}
.searchBar{
    display:flex;
    justify-content: center;
    color: white;
}

#search{
    background-position: 5px;
    background-image: url(./search.webp);
    background-size: 20px;
    background-repeat: no-repeat;
    text-indent: 20px;
    background-color: rgb(47, 46, 46);
    border: transparent;
    height: 30px;
}


#searchBar{
    width: 700px;
}

#holdsSearch{
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.buttons{
    display: flex;
    justify-content: center;
}
.Button{
    color: white;
    background-color: rgb(34, 33, 33);
    border-radius: 5px;
    margin: 10px 3px;
    width: 200px;
    border: 1px black solid;
}
.img{
    height: 75px;

}
.realBody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 700px;
    width: 100%;
}